.card{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 264px;
    height: 260px;
}

.card:hover{
    cursor: pointer;
}

.image{
    width: 264px;
    height: 210px;
    border-radius: 10px;
}

