.card{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 264px;
    height: 260px;
}

.card:hover {
    cursor: pointer;
    transform:scale(1.1);
}

.itemInfo{
    display: flex;
    justify-content:space-between;
}

h3{
    font-size: 16px;
}

.discount{
    color: var(--color-text-purple);
    font-size: 16px;
    font-weight: 800;
}
